subject = "Your booking"
layout = "default"
==
<p>
    Hello,<br />
    <br />
    thank you for your booking. Below you can find booking summary:<br />
    <br />
    Date and time: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Address: {{ booking.street }}<br />
    Name: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Phone: {{ booking.phone }}<br />
    <br />
    Your message: {{ booking.message }}<br />
    <br />
    We accept your booking at {{ booking.created_at | date("d.m.Y H:i") }} and send you confirmation as soon as possible.<br />
    <br />
    {% if bookingsCount == 1 %}
    We hope that you enjoy your first experience!
    <br />
    {% endif %}
    <br />
    Thank you for using our services
</p>
