subject = "Votre réservation"
layout = "default"
==
<p>
    Bonjour,<br />
    <br />
    merci pour votre réservation. Ci-dessous, vous trouverez le récapitulatif de la réservation :<br />
    <br />
    Date et heure : {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Nom : {{ booking.name }} {{ booking.lastname }}<br />
    Adresse : {{ booking.street }}<br />
    Email : {{ booking.email }}<br />
    Téléphone : {{ booking.phone }}<br />
    <br />
    Vorte message : {{ booking.message }}<br />
    <br />
    Nous acceptons votre réservation pour le {{ booking.created_at | date("d.m.Y H:i") }} et nous vous ferons parvenir une confirmation dans les plus brefs délais.<br />
    <br />
    {% if bookingsCount == 1 %}
    Nous espérons que vous apprécierez votre première expérience !
    <br />
    {% endif %}
    <br />
    Merci d'utiliser nos services
</p>
