subject = "Новое бронирование"
layout = "default"
==
<p>
    Новоя бронь в системе:<br />
    <br />
    Дата и время: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Адрес: {{ booking.street }}<br />
    Имя: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Телефон: {{ booking.phone }}<br />
    <br />
    Комментарий: {{ booking.message }}<br />
    <br />
    Создано: {{ booking.created_at | date("d.m.Y H:i") }}<br />
    <br />
    Количество резервирований по этому email: {{ bookingsCount }}<br />
</p>
