subject = "Rezervarea ta"
layout = "default"
==
<p>
    Salutare,<br />
    <br />
    multumim pentru rezervarea ta. Mai jos este un sumar:<br />
    <br />
    Data si ora : {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Adresa: {{ booking.street }}<br />
    Nume: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Telefon: {{ booking.phone }}<br />
    <br />
    Message: {{ booking.message }}<br />
    <br />
    Am primit rezervarea ta pentru {{ booking.created_at | date("d.m.Y H:i") }} si va vom trimite confirmarea cat de curand.<br />
    <br />
    {% if bookingsCount == 1 %}
    Speram sa fii multumit de serviciile noastre
    <br />
    {% endif %}
    <br />
    Multumim pentre ca ati ales serviciile noastre
</p>
