subject = "Rezervare noua"
layout = "default"
==
<p>
    Rezervare noua in sistem:<br />
    <br />
    Data si ora: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Adresa: {{ booking.street }}<br />
    Nume: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Telefon: {{ booking.phone }}<br />
    <br />
    Mesaj: {{ booking.message }}<br />
    <br />
    Creat la data: {{ booking.created_at | date("d.m.Y H:i") }}<br />
    <br />
    Numar de rezervari de la acet email: {{ bookingsCount }}<br />
</p>
