subject = "Nová rezervace"
layout = "default"
==
<p>
    V systému je nová rezervace:<br />
    <br />
    Datum a čas: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Adresa: {{ booking.street }}<br />
    Jméno: {{ booking.name }} {{ booking.lastname }}<br />
    E-mail: {{ booking.email }}<br />
    Telefon: {{ booking.phone }}<br />
    <br />
    Zpráva: {{ booking.message }}<br />
    <br />
    Vytvořeno: {{ booking.created_at | date("d.m.Y H:i") }}<br />
    <br />
    Počet rezervací na stejný e-mail: {{ bookingsCount }}<br />
</p>
