subject = "Nouvelle réservation"
layout = "default"
==
<p>
    Nouvelle réservation :<br />
    <br />
    Date et heure : {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Adresse : {{ booking.street }}<br />
    Nom : {{ booking.name }} {{ booking.lastname }}<br />
    Email : {{ booking.email }}<br />
    Téléphone : {{ booking.phone }}<br />
    <br />
    Message : {{ booking.message }}<br />
    <br />
    Créer le : {{ booking.created_at | date("d.m.Y H:i") }}<br />
    <br />
    Nombre de réservations avec cet email : {{ bookingsCount }}<br />
</p>
