subject = "Vaše rezervace termínu"
layout = "default"
==
<p>
    Dobrý den,<br />
    <br />
    děkujeme za vaší rezervaci. Níže posíláme potvrzení vámi zadaných údajů:<br />
    <br />
    Datum vyzvednutí: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Adresa: {{ booking.street }}<br />
    Jméno: {{ booking.name }} {{ booking.lastname }}<br />
    E-mail: {{ booking.email }}<br />
    Telefon: {{ booking.phone }}<br />
    <br />
    Vaše zpráva: {{ booking.message }}<br />
    <br />
    Vaši rezervací jsme přijali {{ booking.created_at | date("d.m.Y H:i") }} a co nejdříve vám jí potvrdíme.<br />
    <br />
    Děkujeme za {% if bookingsCount > 1 %}opakované {% endif %}využití našich služeb
</p>
