subject = "Ваша бронь"
layout = "default"
==
<p>
    Здравствуйте,<br />
    <br />
    спасибо за вашу бронь. Ниже указаны введённые Вами данные:<br />
    <br />
    Дата и время: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Адрес: {{ booking.street }}<br />
    Имя: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Телефон: {{ booking.phone }}<br />
    <br />
    Комментарий: {{ booking.message }}<br />
    <br />
    Мы получили Ваше бронирование {{ booking.created_at | date("d.m.Y H:i") }} и пришлём Вам подтверждение как можно скорее.<br />
    <br />
    {% if bookingsCount == 1 %}
    Мы надеемся, что вам понравится у нас!
    <br />
    {% endif %}
    <br />
    Благодарим за использование наших услуг
</p>
