subject = "New booking"
layout = "default"
==
<p>
    New booking in system:<br />
    <br />
    Date and time: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Address: {{ booking.street }}<br />
    Name: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Phone: {{ booking.phone }}<br />
    <br />
    Message: {{ booking.message }}<br />
    <br />
    Created at: {{ booking.created_at | date("d.m.Y H:i") }}<br />
    <br />
    Number of bookings with this email: {{ bookingsCount }}<br />
</p>
