subject = "New booking"
layout = "default"
==
<p>
    Nueva reserva en el sistema:<br />
    <br />
    Fecha y hora: {{ booking.date | date("d.m.Y H:i") }}<br />
    <br />
    Dirección: {{ booking.street }}<br />
    Nombre: {{ booking.name }} {{ booking.lastname }}<br />
    Email: {{ booking.email }}<br />
    Teléfono: {{ booking.phone }}<br />
    <br />
    Su mensaje: {{ booking.message }}<br />
    <br />
    Registrada el: {{ booking.created_at | date("d.m.Y H:i") }}<br />
    <br />
    Número de reservas con este email: {{ bookingsCount }}<br />
</p>
